<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infs3605groupassignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Projects.ProjectReview"></activity>
        <activity android:name=".Projects.ProjectInvitation" />
        <activity
            android:name=".Profiles.ExperienceAdd"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Profiles.SkillAdd"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Profiles.ExperienceEdit"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Profiles.ProfileHeaderEdit"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Profiles.ProfileDetail" />
        <activity
            android:name=".Projects.ManageProject"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".Projects.ProjectCreation" />
        <activity
            android:name=".Profiles.ProfileActivity"
            android:theme="@style/AppTheme.BaseTheme" />
        <activity android:name=".SignUp" android:theme="@style/AppTheme.BaseTheme"/>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.BaseTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>